@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "galeria.css";
@import "modal.css";
@import "sidebar.css";
@import "formAdd.css";
@import "load.css";
@import "media.css";
@import "keyframes.css";

.bg-light {
    background-color: #04b157 !important;
}
.container-fluid {
    margin-top: 56px;
}
.content {
    min-width: 100%;
    max-width: 100%;
    padding-left: calc(16.66% + 15px);
    min-height: calc(100vh - 73px);
    overflow: overlay;
}
.row {
    background-color: #e9ecef;
}
.alert-flot {
    position: fixed;
    right: -200px;
    top: 63px;
    position: fixed;
    animation: fadeIn 3s ease-in-out;
}
